
.tutorialBox {
   right: 0;
   left: 0;
   position: fixed; 
   top: 100px;
   z-index: 1;
   background-color: #9D601B;
   padding: 10px;
   width: 600px;
   height: 400px;
   border: solid 1px #51646b;
   border-radius: 5px;
}

.tutorialBox > * {
   margin: 10px;
}

.tutorialBox > button {
   margin-top: 10px;
   margin-left: 5px;
   margin-right: 5px;
   background-color: #51646b;
}



.tutorialBox > img {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   display: block;
   object-fit: contain;
}

.notBigPicture{
   height: 50%;
}

.bigPicture {
   height: 70%;
}

@media only screen and (max-width: 500px) {
   .tutorialBox{
      width: 300px;
   }
}