/* Mobile Æ’efaults, by default*/
* {
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.above{
  margin-top: 5px;
}

.adventure-builder {
  margin-top: 10px;
}

.adventure-link-button {
  display: inline-block;
  background: #9D601B;
  border-color: #9D601B;
}

.adventure-list-item {
  padding-top: 10px 0;
  height: auto
}

.adventure-password, .adventure-input, .search-input {
  display: block;
  border: 2px solid #b4cedd;
  border-radius: 5px;
  height: 40px;
  width:250px;
  margin-bottom: 10px;
  font-size: 18px;
}
.answer-button {
  width: 300px;
}

.app-title {
  color: #51646b;
  display: block;
  font-weight: 300;
  font-size: 200%;
  margin: 0 auto;
}

.arrowBox_Top {
  position: relative;
	background: #9D601B;
	border: 4px solid #9D601B;
}

.arrowBox_Top:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #9D601B;
	border-width: 30px;
	margin-left: -30px;
}

.below {
  margin-top: 0;
  margin-bottom: 5px;
}

body {
  background: #f0f8fa;
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottom-margin{
  margin-bottom: 80px; 
}

/* BASIC CURRENT-NODE-BRANCHER STYLING */
.brancher-answer, .brancher-pointer{
  display:inline-block;
  max-width: 500px;
  text-align: center;
  padding: 0px 20px;
}  

.brancher-answer p{
  font-size: 20px;
}

button {
  color: white;
  border:#51646b 1px solid;
  background: #51646b;
  border-radius: 5px;
  font-weight: 900;
  padding: 7px 10px;
  margin-top: 10px;
  font-size: 105%;
}

button:hover {
  background: #b4cedd;
  color: #51646b;
  border: none;
  padding: 9px 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttons {
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col-3, .col-4, .col-6, .col-12 {

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
}

.close-onboarding {
  display: block;
}

.current-node-question {
  margin-top: 10px;
  margin-bottom: 0px;
}

.dashboard-button {
  display: inline-block;
  background-color: #9D601B;
  border-color: #9D601B;
  width: 130px;
}

.delete-button{
  background-color: red;
  border-color:  red;
}
.delete-button:hover{
  color:red;
  box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.604), 0 17px 50px 0 rgba(255, 0, 0, 0.481);

}

.extra-below {
  padding-bottom: 10px;
}

.footer {
  border-top: 2px solid #9D601B;
  font-size: 80%;
  width: 100%;
  min-width: 100%;
  flex-shrink: 0;
  position: fixed;
  overflow: auto;
  bottom: 0;
  padding-bottom: 10px;
  background: #f0f8fa;
}

.form-field {
  background-color: #b4cedd;
  width: 75%;
  max-width: 600px;
  border: 2px solid #51646b;
  border-radius: 5px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form-error, .form-warning{
  color: red;
  font-weight: bold;
}

.form-input{
  position: relative;
  width: 250px;
}

.full-screen-only {
  display: none;
}

.graph-button {
  width: 140px;
}

h2 { 
  color: #9D601B;
}

.header-bar {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-width: 100vw;
  padding: 0 20px;
  max-width: 80%;
  margin: 20px auto 40px;
}

.help-button {
  margin-bottom: 10px;
  display: block;
  margin-right: 5px;
}

.home-button {
  display: inline-block;
  background: #9D601B;
  border-color: #9D601B;
  width: 75px;
}

.home-button:hover {
  background: #9D601B;
  widows: 67px;
  color: white;
}

.input-field {
  display: block;
  border: 2px solid #b4cedd;
  border-radius: 5px;
  height: 40px;
  width:250px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

.password-input-field {
  display: block;
  border: 2px solid #b4cedd;
  border-radius: 5px;
  height: 40px;
  width:80%;
  margin-bottom: 5px;
  font-size: 18px;
}

.search-input-field {
  display: block;
  border: 2px solid #b4cedd;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.input-label{
position:absolute;
left : 0;
top: -20px;
}

.input-field-label {
  position: relative;
  top: 28px;
}

.ui.checkbox {
height: 20px;
margin: 15px;

}

.label {
  text-justify: left;
  justify-content: left;
}

.login-button {
  display: inline-block;
  background: #9D601B;
  border-color: #9D601B;
  width: 75px;
}


.help-button{
  display: inline-block;
  background: #9D601B;
  border-color: #9D601B;
}

.login-button:hover, .adventure-link-button:hover, .help-button:hover {
  background: #9D601B;
  color: white;
}

.login-from-register:hover {
  transform: scale(1.2);
}

.logout-button {
  display: inline-block;
  width: 80px;
}

.mobile-only {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.narrowOnboarding {
  width: 100%;
  padding: 10px;
  border-radius: 18px;
  margin-top: 30px;
}

.nav-buttons {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.node-select {
  display: block;
  margin: 35px auto 10px auto;
  height: 40px;
  font-size: 18px;
  width: 300px;
}

.on-left {
  margin-right: 5px;
}

.on-right {
  margin-left: 5px;
}

.on-top {
  margin-bottom: 5px;
}

::placeholder {
  color: #51646b;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto ;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.search-element {
  width:90%;
  margin: 10px auto;
  padding: 10px;
}

.search-input{
  width: 80%;
  /* display:block; */
}

.search-results {
  justify-content: center;
  margin: 0 auto;
}

#description-question-box {
  /* background-color:#da8624; */
  margin:auto;
  max-width: 70vw; /*vw is veiwport width, this box will be semi repsonsive.*/
  min-width: 300px;
  border: 2px solid #b4cedd;
  border-radius: 5px;
}
#student-content {
  /* color: white; */
  font-size: 22px;
  min-width: 300px; 
  padding:5px;

}
#student-question {
  /* color: white; */
  font-size: 29px;
  min-width: 300px;
  padding:5px;
}

.teacher-button {
  width: 150px;
}

.text-area{
  min-height:150px;
}

.tutorial-button {
  background: #9D601B;
  border: #9D601B;
}

.ui.checkbox{
height: 20px;
margin: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.update-button{
  background-color: #9D601B;
  border: 1px solid #9D601B
}

.wide-button {
  width: 110px;
}

.wideOnboarding {
  width: 40%;
  padding: 10px;
  border-radius: 18px;
  margin-top: 30px;
}

.with-border {
  border: 2px solid white;
  border-collapse: collapse;
}

@media only screen and (min-width: 531px) {

	.app-title {
    font-size: 275%;
  }
  .col-3 {
    float: left;
    width: 50%;
    height: 180px;
    align-content: center;
  }

  .col-4 {
    align-content: center;
    width: 80%;
  }

  .mobile-only {
    display: inline-block;
    margin-left: 5px;
  }
  .answer-button {
    width: 470px;
  }
}

.not-mobile {
  display: none;
}

@media only screen and (min-width: 640px) {

  .col-3 {
    float: left;
    width: 30%;
    height: 180px;
    align-content: center;
  }

  /* 4 columns */
  .col-4 {
    align-content: center;
  }
/* 
  6 columns
  .col-6 {

  }

  12 columns
  .col-12 {
  } */

  .form-input{
    position: relative;
    width: 400px;
  }

  .input-field{
    width:400px;
  }

  .not-mobile {
    display: block;
  }
}
  
@media only screen and (min-width: 960px) {

  .col-3 {
    display: inline-block;
    width: 25%;
    display: block;
  }

  /* 4 columns */
  .col-4 {
    display: inline-block;
    width: 50%;
    max-width: 400px;
  }
/* 
  6 columns
  .col-6 {
    
  }

  12 columns
  .col-12 {
  } */

  .full-screen-only {
    display: inline-block;
  }

  .mobile-only {
    display: none;
  }

  .not-full-screen {
    display: none;
  }

  .not-mobile {
    display: inline-block;
  }
}